<!DOCTYPE html>
<html>
  <head>
    <title>Clamor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Roboto:wght@500&family=Rubik+Mono+One&family=Lato&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      
    <script type="text/javascript">
      window.defaultProfilePic = "<%= image_url('default_profile_pic.jpg') %>"
      window.addServerPic = "<%= image_url('new_server_profile.png') %>"
    </script>

    <meta property="og:title" content="Clamor" />
    <meta property='og:image' content="<%= image_url('meta_image.png') %>"/>
    <meta property="og:description"
      content="Full-stack clone of Discord; allows users to communicate with each other via servers and channels."
    />
    <meta property="og:url"
      content="https://vincent-ahn-clamor.herokuapp.com/"
    />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
